<%= content_for :title, "#{t '.title'} | " %>

<div class="content-content verification">
  <div class="box-info">
    <div class="row verification-info">
      <%= render "info" %>
    </div>
  </div>
</div>
