<h2>
  <%= t("user.change_documents") %>
</h2>

<div class="info-section">
  <%= t("user.change_documents_explain") %>
</div>

<% current_user.uploads.each do |upload| %>
  <div class="info-section">
    <ul id="images" class="image-list">
      <%= render 'application/documents', upload: upload %>
    </ul>
  </div>
<% end %>

<%= render "application/documents_form" %>
