<div class="input required form-group">
  <%= label :user, :country, class: "control-label", required: :required do %>
    <%= t('bec.registration.country') %>
    <abbr title="requerido">*</abbr>
  <% end %>
    <span class="form-wrapper">
    <% countries = get_countries %>
    <%= select_tag "user[country]",
                   options_from_collection_for_select(countries, "code", "name", resource.country),
                   disabled: false, required: true, data: {allowClear: true} %>
    </span>
</div>
