<div id="js-registration-user_town-wrapper" class="input required form-group">
  <%= label :user, :town, class: "control-label", required: :required do %>
    <%= t('registration.town') %>
    <abbr title="requerido">*</abbr>
  <% end %>
    <span class="form-wrapper">
    <% towns = get_towns(country, province) %>
    <% placeholder = "-- #{t('registration.choose_town')} --" %>
    <%= select_tag "user[town]",
                   options_from_collection_for_select(towns, "code", "name", town),
                   required: "required", data: {placeholder: placeholder}, prompt: placeholder %>
    <% if resource %>
      <span class="help-block">
        <%= resource.errors[:town].join(', ') %>
      </span>
    <% end %>
    </span>
</div>
