<div id="js-registration-user_province-wrapper" class="input required form-group">
  <%= label :user, :province, class: "control-label", required: :required do %>
    <%= t('bec.registration.province') %>
    <abbr title="requerido">*</abbr>
  <% end %>
  <div class="form-wrapper">
  <% provinces = get_provinces(country, @user_location[:catalonia_resident]) %>
  <% placeholder = "-- #{t('bec.registration.choose_province')} --" %>
  <%= select_tag "user[province]", options_from_collection_for_select(provinces, "code", "name", province), {required: "required", data: {placeholder: placeholder, allowClear: true}, prompt: placeholder } %>
  </div>
</div>
