<% content_for :title, t("devise.titles.sign_up") %>
<div class="content-content cols">
  <div class="row">
    <div class="col-md-6">
      <div class="subtitle-welcome">
        <%= t('bec.registration.message.welcome_html',
              logo_inscription: image_tag("ico.verif.step1.png"),
              logo_verification: image_tag("ico.verif.step2.png"),
              logo_voting: image_tag("ico.verif.step3.png"),
             ) %>
      </div>
    </div>

    <div class="col-md-6">
      <%= content_tag(:h2, t("devise.titles.sign_up")) %>
      <%= render partial: "form", locals: {action: "new"} %>
    </div>
  </div>
</div>
