<% content_for :title, t('bec.registration.inscription_policy') %>

<div class="content-content">
  <div class="row">
    <div class="col-md-6">

      <div class="box-info-static">
        <h1><%= content_for(:title) %></h1>

        <p>
          <%= t('bec.registration.legends.inscription_html') %>
        </p>
      </div>
    </div>
  </div>
</div>
