<% content_for :title, t('bec.registration.inscription_policy') %>

<div class="content-content">
  <div class="row">
    <div class="col-md-6">

      <%= info_box do %>
        <h2><%= content_for(:title) %></h2>

        <p>
          <%= t('bec.registration.legends.inscription_html') %>
        </p>
      <% end %>
    </div>
  </div>
</div>
