<% content_for :title, "Aviso Legal" %>
<div class="content-content">
  <div class="row">
    <div class="col-md-6">

      <div class="box-info-static">
        <h1><%= content_for(:title) %></h1>

        <h2>Condiciones de uso</h2>

        <p>
          La presente WEB contiene las principales condiciones generales que
          rige el acceso y el uso, así como la privacidad de los usuarios en el
          sitio y servicio online de EN COMÚ con NIF G-6691544. Domicilio
          social: Carrer Or, 44 3º-2ª (C.P. 08012 Barcelona).
        </p>

        <p>
          El uso del sitio web o servicio on-line respectivo implica la expresa
          y plena aceptación de estas condiciones generales en la versión
          publicada en el momento en que el usuario acceda al mismo. A su vez,
          el usuario de este sitio web debe hacer un uso adecuado de los
          contenidos publicados y de los servicios de información y
          comunicación prestados, y, en cualquier caso, responderá de la
          veracidad de los datos personales que pueda aportar en su utilización
          y podrá reproducir literalmente los contenidos propios publicados,
          siempre que se cite como fuente el dominio.
        </p>

        <p>
          La entidad titular de este sitio web informa que los datos
          facilitados a través de los diferentes mecanismos de comunicación
          habilitados serán tratados conforme a lo dispuesto en la Ley Orgánica
          15/1999 de Protección de Datos de Carácter Personal, su Reglamento de
          desarrollo (RD 1720/2007) y la Ley 34/2002, de 11 de julio, de
          Servicios de la Sociedad de la Información y Comercio Electrónico;
          teniendo el derecho de acceso al fichero, rectificación, cancelación
          u oposición de sus datos, pudiendo ejercitar tales derechos enviando
          por escrito una solicitud a: C. Castillejos, 233 Bxos. (C.P. 08013
          Barcelona).
        </p>

        <p>
          Al marcar la casilla "He leído y acepto la Política de Privacidad,
          Aviso Legal y Política de Cookies" el usuario declara haber leído los
          textos legales y estar conforme con su contenido.
        </p>

        <h2>1. CONCEPTO DE USUARIO</h2>

        <p>
          La utilización de la web atribuye la condición de Usuario, e implica
          la aceptación total y sin reservas de todas y cada una de las
          disposiciones incluidas en este Aviso Legal y Políticas de Privacidad
          en la versión publicada por EN COMÚ, en el mismo momento en que el
          Usuario acceda a la web. En consecuencia, el Usuario debe leer
          atentamente este Aviso Legal y las Políticas de Privacidad en cada
          una de las ocasiones en que se proponga utilizar la Web, puesto que
          puede tener modificaciones.
        </p>

        <p>
          El USUARIO se compromete a hacer un uso adecuado de los contenidos y
          servicios que EN COMÚ ofrece a través de su Site y entre otros se
          obliga a no emplearlos para incurrir en actividades ilícitas,
          ilegales o contrarias a la buena fe y al orden público.
        </p>

        <h2>2. INFORMACIÓN SOBRE LOS LINKS</h2>

        <p>
          EN COMÚ, no se hace responsable de las webs no propias a las cuales
          se pueda acceder mediante vínculos "links" o de cualquier contenido
          puesto a disposición por terceras personas. Cualquier uso de un
          vínculo o acceso a una web no propia se hace por voluntad y riesgo
          exclusivo del usuario y EN COMÚ, no recomienda ni garantiza ninguna
          información obtenida a través de un vínculo ajeno a la web de EN
          COMÚ, ni se responsabiliza de ninguna pérdida, reclamación o
          perjuicio derivada del uso o mal uso de un vínculo, o de la
          información obtenida a través de él, incluyente de otros vínculos o
          webs, de la interrupción en el servicio o en el acceso, o del intento
          de usar o no usar mal un vínculo, tanto en conectarse a la Web de EN
          COMÚ, como al acceder a la información de otras webs desde la Web de
          EN COMÚ.
        </p>

        <h2>3. VÍNCULOS O ENLACES DESDE OTRAS WEBS EXTERNAS</h2>

        <p>
          Se prohíbe expresamente establecer el vínculo desde páginas que
          contengan manifestaciones o propaganda de carácter racista, xenófobo,
          pornográfico, de apología del terrorismo, en contra de los Derechos
          Humanos o cualquier otro de carácter ilícito o contrario a la moral y
          al orden público. En ningún caso se podrá dar a entender, ni declarar
          que, EN COMÚ, interviene, avala, promociona, participa o ha
          supervisado en forma alguna los contenidos de la página donde figure
          el enlace, ni tan sólo que consienta su incursión, excepto
          autorización expresa; por lo que no asume ninguna responsabilidad por
          el contenido, informaciones o servicios que pudieran aparecer en
          dichos sitios, que en ningún caso implican relación alguna entre EN
          COMÚ y las personas o entidades titulares de tales contenidos o
          titulares de los sitios donde se encuentren.
        </p>

        <h2>4. INFORMACIÓN SOBRE LA UTILIZACIÓN DE GALLETAS (COOKIES)</h2>

        <p>
          Le informamos que utilizamos cookies con el fin de mejorar la
          experiencia de navegación en nuestra web y prestarle un mejor
          servicio. La información contenida en las cookies facilita la
          navegación y hace posible que el usuario visite una página web
          idóneamente. Para obtener más información acerca de las cookies y de
          cómo las utilizamos, por favor lea nuestra Política de Cookies.
        </p>

        <h2>5. RENUNCIA Y LIMITACIÓN DE LA RESPONSABILIDAD</h2>

        <p>
          La información y servicios incluidos o disponibles mediante la página
          web pueden incluir incorrecciones o errores tipográficos. De forma
          periódica se incorporan cambios a la información contenida en
          cualquier momento y sin previa notificación al usuario, pudiendo
          modificar, ampliar o suspender temporalmente la presentación,
          configuración, especificaciones técnicas y servicios del sitio web,
          de forma unilateral. Asimismo EN COMÚ, ha obtenido la información y
          los materiales incluidos en la web de fuentes consideradas como
          fiables, pero si bien se han tomado las medidas correspondientes por
          asegurar que la información contenida sea correcta, no garantiza que
          sea exacta o actualizada.
        </p>

        <h2>6. INFORMACIÓN SOBRE LAS EXENCIONES DE TODA LA RESPONSABILIDAD DERIVADA DE UN FALLO TÉCNICO O DE CONTENIDO</h2>

        <p>
          EN COMÚ, declina cualquier responsabilidad en caso de que haya
          interrupciones o un mal funcionamiento de los servicios o contenidos
          ofrecidos a Internet, cualquiera que sea la causa. Asimismo, EN COMÚ,
          no se hace responsable de las caídas de la red, pérdidas de
          información como consecuencia de estas caídas, suspensiones
          temporales del fluido eléctrico o cualquier otro clase de daño
          indirecto que le pueda ser causado a los Usuarios por causas ajenas a
          EN COMÚ, que no declara ni garantiza que los servicios o contenidos
          sean interrumpidos o que estén libres de errores, que los defectos
          sean enmendados, o que el servicio o el servidor que lo pone a
          disposición estén libres de virus o de otros componentes nocivos, sin
          perjuicio que EN COMÚ, realiza sus mejores esfuerzos al evitar esta
          clase de incidentes. En caso de que el Usuario tomara determinadas
          decisiones o realizara acciones en base a la información incluida en
          cualquiera de los websites, se recomienda la comprobación de la
          información recibida con otras fuentes.
        </p>

        <h2>7. PROPIEDAD INDUSTRIAL E INTELECTUAL</h2>

        <p>
          Los contenidos prestados por EN COMÚ, así como los contenidos
          vertidos a la red mediante sus páginas web, constituyen una obra en
          el sentido de la legislación sobre propiedad intelectual quedando por
          esto protegidos por las leyes y convenios internacionales aplicables
          en la materia. Queda prohibida cualquier forma de reproducción,
          distribución, comunicación pública, transformación, puesta a
          disposición y, en general, cualquier otro acto de explotación pública
          referido tanto a las páginas web como sus contenidos e información,
          sin el expreso y previo consentimiento y por escrito de EN COMÚ.
        </p>

        <p>
          En consecuencia, todos los contenidos que se muestran en la website
          y, en especial, diseños, textos, gráficos, logos, íconos, botones,
          software, nombres comerciales, marcas, dibujos industriales o
          cualquier otro signo susceptible de utilización industrial y
          comercial están sujetos a derechos de propiedad intelectual e
          industrial de EN COMÚ, o de terceras personas titulares de las mismas
          que han autorizado debidamente su inclusión en la website.
        </p>

        <p>
          Los contenidos, imágenes, formas, opiniones, índice y el resto de
          expresiones formales que formen parte de las páginas Web, así como el
          software necesario para el funcionamiento y visualización de las
          mismas, constituyen asimismo una obra en el sentido del Derecho de
          Autor y quedan, por tanto, protegidas por las convenciones
          internacionales y legislaciones nacionales en materia de Propiedad
          intelectual que resulten aplicables. El incumplimiento de aquello que
          se señala implica la comisión de graves actos ilícitos y su sanción
          por la legislación civil y penal.
        </p>

        <p>
          Queda prohibido todo acto por virtud del cual los Usuarios de los
          servicios o contenidos puedan explotar o servirse comercialmente,
          directa o indirectamente, en su totalidad o parcialmente, de
          cualquiera de los contenidos, imágenes, formas, índice y el resto de
          expresiones formales que formen parte de las páginas Web sin permiso
          previo y por escrito de EN COMÚ.
        </p>

        <p>
          En concreto, y sin carácter exhaustivo, quedan prohibidos los actos
          de reproducción, distribución, exhibición, transmisión,
          retransmisión, emisión en cualquier forma, almacenamiento en apoyos
          físicos o lógicos (por ejemplo, disquetes, CD’s o discos duros de
          ordenadores, dispositivos USB – Pen drive o smartphones),
          digitalización o puesta a disposición desde bases de datos distintas
          de las que pertenecen a las autorizadas por EN COMÚ, así como su
          traducción, adaptación, arreglo o cualquier otra transformación de
          las mencionadas opiniones, imágenes, formas, índice y el resto de
          expresiones formales que se pongan a disposición de los Usuarios
          mediante los servicios o contenidos, en la medida que estos actos
          estén sometidos a la legislación aplicable en materia de Propiedad
          intelectual, industrial o de protección de la imagen.
        </p>

        <p>
          EN COMÚ, es libre de limitar el acceso a las páginas Web, y a la
          publicación de las opiniones, observaciones, imágenes o comentarios
          que los Usuarios puedan hacerle llegar a través del correo
          electrónico, o cualquier otro servicio de mensajería instantánea.
        </p>

        <p>
          EN COMÚ, en este sentido, podrá establecer, si lo considera oportuno,
          sin perjuicio de la única y exclusiva responsabilidad de los
          Usuarios, los filtros necesarios a fin de evitar que mediante sus
          páginas Web puedan derramarse en la red contenidos u opiniones,
          considerados como racistas, xenófobos, discriminatorios,
          pornográficos, difamatorios o que, de cualquier manera, fomenten la
          violencia o la diseminación de contenidos claramente ilícitos o
          nocivos.
        </p>

        <p>
          Aquellos Usuarios que envíen a las páginas Web de EN COMÚ, a su
          departamento de sugerencias, observaciones, opiniones o comentarios
          mediante el Servicio de correo electrónico o cualquier otro medio de
          mensajería instantánea, salvo que expresen de manera cierta y
          inconfundible lo contrario, en los casos dónde por la naturaleza de
          los servicios o contenidos aquello fuera posible, se entiende que
          autorizan a EN COMÚ, para la reproducción, distribución, exhibición,
          transmisión, retransmisión, emisión en cualquier formato,
          almacenamiento en apoyos físicos o lógicos (por ejemplo, disquetes,
          CD’s o discos duro de ordenadores , dispositivos USB – Pen drive o
          smartphones), digitalización, puesta a disposición desde bases de
          datos que pertenecen a EN COMÚ, traducción, adaptación, arreglo o
          cualquier otra transformación de observaciones, opiniones o
          comentarios como estas, por todo el tiempo de protección de derecho
          de autor que esté previsto legalmente. Asimismo, se entiende que esta
          autorización se hace a título gratuito, y que por el solo hecho de
          enviar por correo electrónico o cualquier otro medio de mensajería
          instantánea, observaciones, opiniones o comentarios de esta clase,
          los Usuarios declinan cualquier pretensión crematística por parte de
          EN COMÚ.
        </p>

        <p>
          De acuerdo con lo que se señala en el párrafo anterior, EN COMÚ,
          queda autorizada igualmente para proceder a la modificación o
          alteración de observaciones, opiniones o comentarios como estos, con
          tal de adaptarlos a las necesidades de formato editorial de páginas
          Web, sin que por esto pueda entenderse que existe en absoluto
          cualquier clase de lesión de cualquiera de las facultades morales de
          derechos de autor que los Usuarios pudieran ostentar sobre las
          mismas. Quedan prohibidos cualquiera de los recursos técnicos,
          lógicos o tecnológicos por virtud de los cuales una tercera persona
          pueda beneficiarse, directamente o indirecta, con o sin lucro, de
          todos y cada uno de los contenidos, formas, índice y el resto de
          expresiones formales que formen parte de las páginas Web, o del
          esfuerzo llevado a término por EN COMÚ, para su funcionamiento. En
          concreto, queda prohibido todo link, hyperlink, framing o vínculo
          similar que pueda establecerse en dirección a las páginas Web de EN
          COMÚ, sin el consentimiento previo, expreso y por escrito de EN COMÚ.
          Cualquier transgresión de lo que se dispone en este punto será
          considerada como lesión de los legítimos derechos de Propiedad
          intelectual de EN COMÚ, sobre las páginas Web y todos los contenidos
          de las mismas.
        </p>

        <p>
          EN COMÚ, no asumirá el menor asomo de responsabilidad en frente de
          consecuencias derivadas de las conductas y actuaciones antes
          mencionadas, del mismo modo que no asumirá el menor asomo de
          responsabilidad por los contenidos, servicios, productos, etc., de
          terceras personas a los cuales se pueda acceder directamente o a
          través de banners, enlaces, links, hyperlinks, framing o vínculos
          similares desde las websites de EN COMÚ.
        </p>

        <h2>8. LEGISLACION Y JURISIDICCION APLICABLE</h2>

        <p>
          La relación entre EN COMÚ y el usuario se regirá por la normativa
          española vigente y cualquier controversia se someterá a los juzgados
          y Tribunales de Barcelona. EN COMÚ perseguirá el incumplimiento de
          las presentes condiciones legales así como cualquier utilización
          indebida de este sitio web ejerciendo todas las acciones legales que
          le puedan corresponder en derecho.
        </p>
      </div>
    </div>
  </div>
</div>
