<% content_for :title, "Avís Legal" %>
<div class="content-content">
  <div class="row">
    <div class="col-md-6">

      <div class="box-info-static">
        <h1><%= content_for(:title) %></h1>

        <h2>Condicions d'ús</h2>

        <p>
          La present WEB conté les principals condicions generals que regeix
          l'accés i l'ús, així com la privadesa dels usuaris en el lloc i
          servei online de En Comú amb NIF G-66912544. Domicili social: Carrer Or, 44
          3º-2ª (C.P. 08012 Barcelona).
        </p>

        <p>
          L'ús del lloc web o servei on-line respectiu implica l'expressa i
          plena acceptació d'aquestes condicions generals en la versió publicada
          al moment en què l'usuari accedeixi al mateix. Al seu torn, l'usuari
          d'aquest lloc web ha de fer un ús adequat dels continguts publicats i
          dels serveis d'informació i comunicació prestats, i, en qualsevol cas,
          respondrà de la veracitat de les dades personals que pugui aportar en
          la seva utilització i podrà reproduir literalment els continguts
          propis publicats, sempre que se citi com a font el domini.
        </p>

        <p>
          L'entitat titular d'aquest lloc web informa que les dades facilitades
          a través dels diferents mecanismes de comunicació habilitats seran
          tractats conforme al que es disposa en la Llei Orgànica 15/1999 de
          Protecció de Dades de Caràcter Personal, el seu Reglament de
          desenvolupament (RD 1720/2007) i la Llei 34/2002, d'11 de juliol, de
          Serveis de la Societat de la Informació i Comerç Electrònic; tenint el
          dret d'accés al fitxer, rectificació, cancel·lació o oposició de les
          seves dades, podent exercitar tals drets enviant per escrit una
          sol·licitud a: C. Castillejos, 233 Bxos. (C.P. 08013 Barcelona).
        </p>

        <p>
          En marcar la casella "He llegit i accepto la Política de Privadesa,
          Avís Legal i Política de Cookies" l'usuari declara haver llegit els
          textos legals i estar conforme amb el seu contingut.
        </p>

        <h2>1. CONCEPTE D'USUARI</h2>

        <p>
          La utilització de la web atribueix la condició d'Usuari, i implica
          l'acceptació total i sense reserves de totes i cadascuna de les
          disposicions incloses en aquest Avís Legal i Polítiques de Privadesa
          en la versió publicada per EN COMÚ, en el mateix moment en què
          l'Usuari accedeixi a la web. En conseqüència, l'Usuari ha de llegir
          atentament aquest Avís Legal i les Polítiques de Privadesa en
          cadascuna de les ocasions en què es proposi utilitzar la Web, ja que
          pot tenir modificacions.
        </p>

        <p>
          L'usuari es compromet a fer un ús adequat dels continguts i serveis
          que EN COMÚ ofereix a través del seu Site i entre uns altres s'obliga
          a no emprar-los per incórrer en activitats il·lícites, il·legals o
          contràries a la bona fe i a l'ordre públic.
        </p>

        <h2>2. INFORMACIÓ SOBRE ELS LINKS</h2>

        <p>
          EN COMÚ no es fa responsable de les webs no pròpies a les quals es
          pugui accedir mitjançant vincles “links” o de qualsevol contingut
          posat a disposició per terceres persones. Qualsevol ús d'un vincle o
          accés a una web no pròpia es fa per voluntat i risc exclusiu de
          l'usuari i EN COMÚ, no recomana ni garanteix cap informació obtinguda
          a través d'un vincle aliè a la web d'EN COMÚ, ni es responsabilitza de
          cap pèrdua, reclamació o perjudici derivada de l'ús o mal ús d'un
          vincle, o de la informació obtinguda a través d'ell, incloent d'altres
          vincles o webs, de la interrupció en el servei o en l'accés, o de
          l'intent d'usar o no usar malament un vincle, tant a connectar-se a la
          Web d'EN COMÚ, com en accedir a la informació d'altres webs des de la
          Web d'EN COMÚ.
        </p>

        <h2>3. VINCLES O ENLLAÇOS DES D'ALTRES WEBS EXTERNES</h2>

        <p>
          Es prohibeix expressament establir el vincle des de pàgines que
          continguin manifestacions o propaganda de caràcter racista, xenòfob,
          pornogràfic, d'apologia del terrorisme, en contra dels Drets Humans o
          qualsevol un altre de caràcter il·lícit o contrari a la moral i a
          l'ordre públic. En cap cas es podrà donar a entendre, ni declarar que
          EN COMÚ intervé, avala, promociona, participa o ha supervisat en forma
          alguna els continguts de la pàgina on figuri l'enllaç, ni tan sols que
          consenti la seva incursió, excepte autorització expressa; pel que no
          assumeix cap responsabilitat pel contingut, informacions o serveis que
          poguessin aparèixer en aquests llocs, que en cap cas impliquen relació
          alguna entri EN COMÚ i les persones o entitats titulars de tals
          continguts o titulars dels llocs on es trobin.
        </p>

        <h2>4. INFORMACIÓ SOBRE LA UTILITZACIÓ DE GALETES (COOKIES)</h2>

        <p>
          Li informem que utilitzem cookies amb la finalitat de millorar
          l'experiència de navegació a la nostra web i prestar-li un millor
          servei. La informació continguda en les cookies facilita la navegació
          i fa possible que l'usuari visiti una pàgina web idòniament. Per
          obtenir més informació sobre les cookies i de com les utilitzem, per
          favor llegeixi la nostra Política de Cookies.
        </p>

        <h2>5. RENÚNCIA I LIMITACIÓ DE LA RESPONSABILITAT</h2>

        <p>
          La informació i serveis inclosos o disponibles mitjançant la pàgina
          web poden incloure incorreccions o errors tipogràfics. De forma
          periòdica s'incorporen canvis a la informació continguda a qualsevol
          moment i sense prèvia notificació a l'usuari, podent modificar,
          ampliar o suspendre temporalment la presentació, configuració,
          especificacions tècniques i serveis del lloc web, de forma
          unilateral. Així mateix EN COMÚ, ha obtingut la informació i els
          materials inclosos a la web de fonts considerades com a fiables, però
          si bé s'han pres les mesures corresponents per assegurar que la
          informació continguda sigui correcta, no garanteix que sigui exacta o
          actualitzada.
        </p>

        <h2>6. INFORMACIÓ SOBRE LES EXEMPCIONS DE TOTA LA RESPONSABILITAT DERIVADA D'UNA FALLADA TÈCNICA O DE CONTINGUT</h2>

        <p>
          EN COMÚ declina qualsevol responsabilitat en cas que hi hagi
          interrupcions o un mal funcionament dels serveis o continguts oferts
          a Internet, qualsevol que sigui la causa. Així mateix, EN COMÚ no es
          fa responsable de les caigudes de la xarxa, pèrdues d'informació com
          a conseqüència d'aquestes caigudes, suspensions temporals del fluid
          elèctric o qualsevol un altre classe de dany indirecte que li pugui
          ser causat als Usuaris per causes alienes a EN COMÚ que no declara ni
          garanteix que els serveis o continguts siguin interromputs o que
          estiguin lliures d'errors, que els defectes siguin esmenats, o que el
          servei o el servidor que ho posa a disposició estiguin lliures de
          virus o d'altres components nocius, sense perjudici que EN COMÚ
          realitza els seus millors esforços en evitar aquesta classe
          d'incidents. En cas que l'Usuari prengués determinades decisions o
          realitzés accions sobre la base de la informació inclosa en qualsevol
          dels websites, es recomana la comprovació de la informació rebuda amb
          altres fonts.
        </p>

        <h2>7. PROPIETAT INDUSTRIAL I INTEL·LECTUAL</h2>

        <p>
          Els continguts prestats per EN COMÚ, així com els continguts abocats
          a la xarxa mitjançant les seves pàgines web, constitueixen una obra
          en el sentit de la legislació sobre propietat intel·lectual quedant
          per això protegits per les lleis i convenis internacionals aplicables
          en la matèria.  Queda prohibida qualsevol forma de reproducció,
          distribució, comunicació pública, transformació, posada a disposició
          i, en general, qualsevol altre acte d'explotació pública referit tant
          a les pàgines web com els seus continguts i informació, sense
          l'exprés i previ consentiment i per escrit d'EN COMÚ.
        </p>

        <p>
          En conseqüència, tots els continguts que es mostren en la website i,
          especialment, dissenys, textos, gràfics, logos, íconos, botons,
          programari, noms comercials, marques, dibuixos industrials o
          qualsevol altre signe susceptible d'utilització industrial i
          comercial estan subjectes a drets de propietat intel·lectual i
          industrial d'EN COMÚ, o de terceres persones titulars de les mateixes
          que han autoritzat degudament la seva inclusió en la website.
        </p>

        <p>
          Els continguts, imatges, formes, opinions, índex i la resta
          d'expressions formals que formin part de les pàgines Web, així com el
          programari necessari per al funcionament i visualització de les
          mateixes, constitueixen així mateix una obra en el sentit del Dret
          d'Autor i queden, per tant, protegides per les convencions
          internacionals i legislacions nacionals en matèria de Propietat
          intel·lectual que resultin aplicables. L'incompliment d'allò que
          s'assenyala implica la comissió de greus actes il·lícits i la seva
          sanció per la legislació civil i penal.
        </p>

        <p>
          Queda prohibit tot acte per virtut del com els Usuaris dels serveis o
          continguts puguin explotar o servir-se comercialment, directa o
          indirectament, íntegrament o parcialment, de qualsevol dels
          continguts, imatges, formes, índex i la resta d'expressions formals
          que formin part de les pàgines Web sense permís previ i per escrit
          d'EN COMÚ.
        </p>

        <p>
          En concret, i sense caràcter exhaustiu, queden prohibits els actes de
          reproducció, distribució, exhibició, transmissió, retransmissió,
          emissió en qualsevol forma, emmagatzematge en suports físics o lògics
          (per exemple, disquets, CD’s o discos durs d'ordinadors, dispositius
          USB – Pen drive o smartphones), digitalització o posada a disposició
          des de bases de dades diferents de les quals pertanyen a les
          autoritzades per EN COMÚ, així com la seva traducció, adaptació,
          arranjament o qualsevol altra transformació de les esmentades
          opinions, imatges, formes, índex i la resta d'expressions formals que
          es posin a la disposició dels Usuaris mitjançant els serveis o
          continguts, en la mesura que aquests actes estiguin sotmesos a la
          legislació aplicable en matèria de Propietat intel·lectual,
          industrial o de protecció de la imatge.
        </p>

        <p>
          EN COMÚ és lliure de limitar l'accés a les pàgines Web, i a la
          publicació de les opinions, observacions, imatges o comentaris que
          els Usuaris puguin fer-li arribar a través del correu electrònic, o
          qualsevol altre servei de missatgeria instantània.
        </p>

        <p>
          EN COMÚ, en aquest sentit, podrà establir, si ho considera oportú,
          sense perjudici de l'única i exclusiva responsabilitat dels Usuaris,
          els filtres necessaris a fi d'evitar que mitjançant les seves pàgines
          Web puguin vessar-se a la xarxa continguts o opinions, considerats
          com a racistes, xenòfobs, discriminatoris, pornogràfics, difamatoris
          o que, de qualsevol manera, fomentin la violència o la disseminació
          de continguts clarament il·lícits o nocius.
        </p>

        <p>
          Aquells Usuaris que enviïn a les pàgines Web d'EN COMÚ al seu
          departament de suggeriments, observacions, opinions o comentaris
          mitjançant el Servei de correu electrònic o qualsevol altre mitjà de
          missatgeria instantània, tret que expressin de manera certa i
          inconfusible el contrari, en els casos on per la naturalesa dels
          serveis o continguts allò fos possible, s'entén que autoritzen a EN
          COMÚ, per a la reproducció, distribució, exhibició, transmissió,
          retransmissió, emissió en qualsevol format, emmagatzematge en suports
          físics o lògics (per exemple, disquets, CD’s o discos dur
          d'ordinadors , dispositius USB – Pen drive o smartphones),
          digitalització, posada a disposició des de bases de dades que
          pertanyen a EN COMÚ, traducció, adaptació, arranjament o qualsevol
          altra transformació d'observacions, opinions o comentaris com
          aquestes, per tot el temps de protecció de dret d'autor que estigui
          previst legalment. Així mateix, s'entén que aquesta autorització es
          fa a títol gratuït, i que pel sol fet d'enviar per correu electrònic
          o qualsevol altre mitjà de missatgeria instantània, observacions,
          opinions o comentaris d'aquesta classe, els Usuaris declinen
          qualsevol pretensió crematística per part d'EN COMÚ.
        </p>

        <p>
          D'acord amb el que s'assenyala en el paràgraf anterior, EN COMÚ,
          queda autoritzada igualment per procedir a la modificació o alteració
          d'observacions, opinions o comentaris com aquests, amb tal
          d'adaptar-los a les necessitats de format editorial de pàgines Web,
          sense que per això pugui entendre's que existeix en absolut qualsevol
          classe de lesió de qualsevol de les facultats morals de drets d'autor
          que els Usuaris poguessin ostentar sobre les mateixes. Queden
          prohibits qualsevol dels recursos tècnics, lògics o tecnològics per
          virtut dels quals una tercera persona pugui beneficiar-se,
          directament o indirecta, amb o sense lucre, de tots i cadascun dels
          continguts, formes, índex i la resta d'expressions formals que formin
          part de les pàgines Web, o de l'esforç portat a terme per EN COMÚ per
          al seu funcionament. En concret, queda prohibit tot link, hyperlink,
          framing o vincle similar que pugui establir-se en direcció a les
          pàgines Web d'EN COMÚ, sense el consentiment previ, exprés i per
          escrit d'EN COMÚ. Qualsevol transgressió del que es disposa en aquest
          punt serà considerada com a lesió dels legítims drets de Propietat
          intel·lectual d'EN COMÚ, sobre les pàgines Web i tots els continguts
          de les mateixes.
        </p>

        <p>
          EN COMÚ no assumirà cap mena de responsabilitat davant de
          conseqüències derivades de les conductes i actuacions abans
          esmentades, de la mateixa manera que no assumirà cap mena de
          responsabilitat pels continguts, serveis, productes, etc., de
          terceres persones als quals es pugui accedir directament o a través
          de bàners, enllaços, links, hyperlinks, framing o vincles similars
          des de les websites d'EN COMÚ.
        </p>

        <h2>8. LEGISLACIÓ I JURISIDICCIÓ APLICABLE</h2>

        <p>
          La relació entre EN COMÚ i l'usuari es regirà per la normativa
          espanyola vigent i qualsevol controvèrsia se sotmetrà als jutjats i
          Tribunals de Barcelona. EN COMÚ perseguirà l'incompliment de les
          presents condicions legals així com qualsevol utilització indeguda
          d'aquest lloc web exercint totes les accions legals que li puguin
          correspondre en dret.
        </p>
      </div>
    </div>
  </div>
</div>
