<div class="nested-fields">
  <div class="doc-upload">
    <% if f.object.new_record? %>
        <%= f.input :scanned_picture,
                    as: :file,
                    label: false,
                    input_html: { required: true } %>

    <% else %>
        <div>
          <%= image_tag f.object.scanned_picture.url(:thumb) %>
        </div>

        <div>
          <%= f.object.scanned_picture_file_name %>
        </div>

    <% end %>

    <%= link_to_remove_association f, class: 'doc-remove-link' %>
  </div>
</div>
