<% content_for :title, t("sms_validator.steps.step1") %>

<div class="content-content">
  <div class="box-info">

    <div class="row">
      <%= render partial: "steps", locals: {step: 1} %>

      <%= render "application/documents_form" %>
    </div>
  </div>
</div>
