/*
 * IntlTelInput
 */
.content .intl-tel-input .country-list {
  max-height: 80px;
}

// unconfirmed_phone on validator/sms/step1 start
.input-group-addon {
  background: none repeat scroll 0 0 #eaeaea ;
  border: medium none;
  display: inline-block;
  color: #555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-sefif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  line-height: 100%;
  min-width: 16px;
  padding: 15px 1.5%;
  text-align: center;
  width: auto;
  float: left;
}

fieldset .inputlabel-box .unconfirmed-phone {
  line-height: 100%;
  font-size: 15px;
  padding: 15.5px 1.5%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
// unconfirmed_phone on validator/sms/step1 end

.date_select .row {
   margin-left: 0;
   margin-right: 0;
}

// born_at selects start
.col-day div, .col-year div {
  width: 75%;
}

.col-month div {
  width: 85%;
}

.col-day {
  width: 100px;
  float: left;
}

.col-year {
  width: 150px;
  float: left;
 }

.col-month {
  width: 175px;
  float: left;
}
// born_at selects end
