.cookie {
  overflow: hidden;
  bottom: 0;
  width: 100%;
  background: #fff;
  font-size: 1.4em;

  a {
    color: #269283;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  a.close {
    color: #000;
    text-decoration: none;
    opacity:0.5;
    float: right;
    height: 20px;
    margin-top: 20px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    &:hover {
      opacity:1;
    }

    span {
      padding-right: 5px;
    }
  }
}

.table-cookies {
  border-collapse: collapse;
  border-spacing: 0;

  td, th {
    padding: .6em .8em;
  }

  th {
    border-bottom: 2px solid #ddd;
  }

  td {
    border-top: 1px solid #ddd;
  }
}
