@import 'img-viewerjs/dist/viewer';

$light-gray: #ddd;
$gray: #63717f;
$white: #fff;

%info-section,
.info-section {
  padding: 20px 20px 0;
  font-size: 1.8em;
}

.info-section--separator {
  @extend %info-section;

  border-bottom: 1px solid $light-gray;
  padding: 0 20px 20px;
}

.info-list li {
  margin-top: 11px;

  &::before {
    content: '\2713';
  }
}

.image-list {
  background: $light-gray;
  border-radius: 4px;
  padding-bottom: 16px;

  li {
    display: inline;

    img {
      cursor: zoom-in;
      height: 200px;
    }
  }
}

fieldset .inputlabel-box .doc-upload input {
  background: $white;
}

.doc-remove-link {
  @extend %doc-link;

  display: block;
  height: 30px;
}

%doc-link,
.doc-link {
  clear: left;
  font-size: 1.7em;
}

.online-verification-nav {
  padding-bottom: 20px;
}

.pending-counter {
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
}

.verification-search {
  $background: #2b303b;
  $black: #000;
  $white: #fff;
  $full-width: 260px;
  $separation: 4px;
  $height: 30px;

  height: 100%;
  min-width: $full-width;

  .select2-container {
    float: left;
    height: $height;
    margin-top: 0;
    width: 70%;

    .select2-choice {
      height: $height;
      line-height: $height;
    }
  }

  .btn {
    height: $height;
    line-height: $height;
    margin-left: $separation;
    padding: 0 2%;
    width: 26%;
  }
}

@media (min-width: 601px) {
  .pending-counter {
    display: inline-block;
  }

  .verification-search {
    float: right;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .pending-counter,
  .verification-search {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }

  .verification-search {
    padding-bottom: 20px;
  }
}

.issue-modal {
  $font-size: 15px;

  label {
    display: block;
    font-size: $font-size;
    margin-bottom: 1em;
    padding-left: 15px;

    input {
      width: $font-size + 5px;
      height: $font-size + 5px;
      padding: 0;
      margin: 0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
    }
  }
}

.activity-feed {
  $orange-dot: #f37167;

  padding: 15px;
  list-style: none;

  .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;

    &:last-child {
      border-color: transparent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      background: #fff;
      border: 1px solid $orange-dot;
    }

    .date {
      display: block;
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px;
    }

    .text {
      position: relative;
      top: -3px;
    }
  }
}
