$white: #fff;

%info-section,
.info-section {
  padding: 20px 20px 0;
}

.info-list li {
  font-size: 1.8em;
  margin: 0 0 1.5em;

  &::before {
    content: '\2713';
  }
}

.doc-upload {
  clear: left;
  padding: 20px;

  .file {
    input {
      background-color: red;
      height: 30px;
      padding: 0;
    }
  }
}

fieldset .inputlabel-box .doc-upload input {
  background: $white;
}

.doc-remove-link {
  @extend %doc-link;

  display: block;
  height: 30px;
}

%doc-link,
.doc-link {
  clear: left;
  font-size: 1.7em;
}
