<li class="select input required" id="js-registration-municipies-wrapper"><%= label :user, :town, class: "control-label", required: :required do %>Municipio<abbr title="requerido">*</abbr></label><% end %>
    <% towns = get_towns(user_location[:country], user_location[:province]) %>
    <% if towns.length>0 %>
        <% placeholder = "-- Elige un municipio --" %>
        <%= select_tag "user[town]", options_from_collection_for_select(towns, "code", "name", user_location[:town]), {required: "required", data: {placeholder: placeholder}, prompt: placeholder } %>
    <% else %>
      <%= text_field(:user, :town, class: "input-xl form-control") %>
    <% end %></li>
