<div class="box">
  <div class="box-ok">
    <p><strong><%= title %></strong></p>
    <% if content.strip == t("devise.failure.unauthenticated").strip %>
      <p><%= t("devise.failure.unauthenticated_html") %></p>
    <% else %>
      <p><%= content %></p>
    <% end %>
  </div><%# .box-ok %>
</div><%# .box %>
