<% unless cookies[:cookiepolicy].present? %>
  <div class="cookie box-info">
    <%= t '.cookie_html' %>

    <a class="close" id="close_cookie" href="#">
      <span><%= t '.cookie_close' %></span>x</a>
  </div>
<% end %>
