<!DOCTYPE HTML>
<html lang="es">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<style type="text/css">
a { border: none; color:#337ab7; }
img { border: none; }
p { margin: 10px; line-height: 1.3em; }
h1,h2,h3,h4,h5,h6 {font-size:100%;margin:0;}
</style>
</head>
<body style="margin: 0; padding: 0; background-color: #eeeeee" bgcolor="#eeeeee">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
  <tr>
    <td align="center" style="padding: 37px 0; background-color: #eeeeee;" bgcolor="#eeeeee">
      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
        </tr>
      </table>

      <table cellpadding="0" cellspacing="0" border="0" style="margin: 0; border: 1px solid #dddddd; color: #444444; font-family: arial; font-size: 12px; border-color: #dddddd; background-color: #ffffff; " width="600">
        <tr>
          <td>

            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td>
                  <a title="Un País En Comú - Participa" href="<%= root_url %>" style="border: none; display: block;border: none;">
                    <img alt="Un País En Comú - Participa" width="600" height="75" style="display: block; width: 600px; height: 75px; border: none;" src="<%= image_url('mail_logo.jpg') %>">
                  </a>
                </td>
              </tr>
            </table>

            <table cellpadding="0" cellspacing="0" border="0" style="margin: 0; border-collapse: collapse;" width="100%">
              <tr>
                <td style="color: #444444; font-family: arial; font-size: 12px; border-color: #dddddd; background-color: #ffffff;  padding: 5px 0;" align="left">
                  <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color: #444444; font-family: arial; font-size: 12px; border-color: #dddddd; background-color: #ffffff; ">
                    <tr>
                      <td width="10px">
                      </td>
                      <td width="580" style="vertical-align: top; padding: 5px 0; ">
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:565px;color: #444444; font-family: arial; font-size: 12px; border-color: #dddddd; background-color: #ffffff; " width="565">
                          <tr>
                            <td style="padding:5px 0 5px 5px;line-height:normal;color: #444444; font-family: arial; font-size: 12px; border-color: #dddddd; background-color: #ffffff; ">


                              <div dir="ltr" style="line-height: 15.6000003814697px;">
                                <div>
                                  <div style="font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: normal;">
                                    <span style="color:#000000;">
                                      <span style="font-size:14px;">
                                        <%= yield %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
